@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: sans-serif;
  background: #ffff;
  font-family: 'Lato', sans-serif;
  max-width: 460px;
  height: 77vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #93278f,#00a99d);
  z-index: 3;
}
.header ul {
  margin: 0 auto;
}
.header h3 {
  color : white;
}
.header h4 {
  position: absolute;
  color:white;
  left: 41%;
  top: 5%;
}
.header button {
  background: transparent;
  border:none;
}
.header h1 {
  color : white;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-head {
  padding-top: 10px;
  padding-right: 35px;
  background: transparent;
  border: none;
} 
.btn-head:focus{
  outline: none;
}
.dropdown {
  opacity: 0;
  background: linear-gradient(to right, #93278f,#00a99d);
  z-index: 2;
  position: absolute;
  padding: 20px;
  width : 90%;
  top: 11%;
  display: flex;
  transform :translateY(-223px);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.dropdown li {
  color : white;
  list-style: none;
}
.dropdown ul {
    padding: 0px;
    margin-left: 160px;
    margin-top: -40px;
}
.dropdown ul button {
  color : white;
  margin-bottom: 5px;
}
.dropdown.dropdown-up {
  opacity: 1;
  transform :translateY(0px);
}
.chat {
  height: 77vh;
  overflow: auto;
}
.sendMessage {
  height: 55px;
  background: #F2F2F2;
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #C7C7C7;
}

.sendMessage input {
  width: 85%;
  height: 100%;
  padding-left: 10px;
  background: #F2F2F2;
  border: none;
}
.sendMessage input:focus {
  outline: none;
}
.sendMessage button img {
  height: 30px;
}
.btn-footer {
  background:#00a99d;
  padding : 5px 20px 5px 20px;
  height: 60px;
  border: none;
}
.btn-footer:focus {
  outline: none;
}

.messages {
  color : #3A3B3B;
  padding: 20px;
  background: #EBEBEB;
  margin-top: 30px;
  border-radius: 6px;
  width: 65%;
  margin-left: 44px;
  position: relative;
    box-shadow: 0 8px 6px -6px #C0C0C0;
    word-wrap: break-word;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.message-guess {
  margin-left: -44px !important;
}
.date-mess{
  position: absolute;
  top: -42%;
  left: 2%;
  font-size: 12px;
  color: #414141;
  width: 100%;
}
.text-center{
  text-align: center;
}
.btn-historique{
  color: #B8B8B8;
  text-decoration: underline overline #B8B8B8;
  background: transparent;
  border : none;
}
.owner {
  position: absolute;
  top: 92%;
  left: 72%;
  font-size: 10px;
  color: #414141;
}
.block-left {
  margin-left: 10px !important; 
}
.block-right {
  margin-left: 65px !important;
}
.disconnect{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  color: #D0D0D0;
  line-height: 54px;
  letter-spacing: 3px;
  font-weight: 100;
}
.edit{
  height: 15px;
  right: 2%;
  bottom: 5%;
  position: absolute;
}
.delete{
  height: 15px;
  right: -2%;
  top: -8%;
  position: absolute;
}
.messageUp {
  transform: scale(1.1)
}